body {
  margin:0px;
  background-color:rgba(239, 239, 239, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:802px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:340px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:802px;
  height:340px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:80px;
  background:inherit;
  background-color:rgba(79, 122, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:80px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:162px;
  width:720px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:42px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:17px;
  width:185px;
  height:42px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:30px;
  width:166px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:63px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:802px;
  height:63px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:101px;
  width:263px;
  height:21px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:44px;
  background:inherit;
  background-color:rgba(103, 145, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:490px;
  width:147px;
  height:44px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:143px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:1016px;
  width:300px;
  height:170px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:3px;
  width:125px;
  height:16px;
  color:#FFFFFF;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:204px;
  width:100px;
  height:16px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u48_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:238px;
  width:255px;
  height:16px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u49_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:273px;
  width:502px;
  height:16px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u50_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:309px;
  width:502px;
  height:16px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u51_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:345px;
  width:502px;
  height:16px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u52_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:379px;
  width:502px;
  height:16px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u53_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
