body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
}
#u13995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:798px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u13995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:1521px;
  background:inherit;
  background-color:rgba(41, 40, 38, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 40, 38, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:797px;
  width:60px;
  height:1521px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1502px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13997 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:797px;
  width:1220px;
  height:1502px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:5226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13998 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:136px;
  width:1185px;
  height:5226px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u14001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u14003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14004 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:129px;
  height:22px;
  text-align:left;
}
#u14004_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u14005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u14005 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:3px;
  width:16px;
  height:15px;
  color:#FFFFFF;
}
#u14005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14007 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:91px;
  height:22px;
}
#u14007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u14008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u14008 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:0px;
  width:127px;
  height:22px;
}
#u14008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14009 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:3px;
  width:109px;
  height:16px;
  color:#FFFFFF;
}
#u14009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u14010 {
  position:fixed;
  left:66px;
  top:-1px;
  width:1220px;
  height:80px;
  overflow:hidden;
  visibility:hidden;
}
#u14010_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14010_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14012 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:1186px;
  height:80px;
  overflow:hidden;
}
#u14012_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14012_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:140px;
}
#u14013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:140px;
}
#u14013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14014 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:20px;
  width:151px;
  height:31px;
}
#u14014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u14015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14015 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:20px;
  width:142px;
  height:31px;
}
#u14015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u14016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14016 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:20px;
  width:47px;
  height:31px;
}
#u14016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u14017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:51px;
}
#u14017 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:12px;
  width:494px;
  height:51px;
}
#u14017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(103, 145, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14019 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:20px;
  width:126px;
  height:35px;
}
#u14019_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14019.disabled {
}
#u14019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u14020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u14020 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:29px;
  width:567px;
  height:23px;
  font-size:20px;
  color:#666666;
}
#u14020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u14021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14021 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:21px;
  width:110px;
  height:35px;
}
#u14021_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14021.disabled {
}
#u14021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u14022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1158px;
  height:590px;
}
#u14022 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:145px;
  width:1158px;
  height:590px;
}
#u14022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
