body {
  margin:0px;
  background-color:rgba(239, 239, 239, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:802px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:520px;
}
#u14413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:802px;
  height:520px;
}
#u14413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:80px;
  background:inherit;
  background-color:rgba(79, 122, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:80px;
}
#u14414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:42px;
}
#u14415 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:17px;
  width:185px;
  height:42px;
}
#u14415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:63px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:802px;
  height:63px;
}
#u14416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14417 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:101px;
  width:148px;
  height:21px;
}
#u14417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u14418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:46px;
  background:inherit;
  background-color:rgba(79, 122, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14418 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:556px;
  width:167px;
  height:46px;
  color:#FFFFFF;
}
#u14418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:163px;
  word-wrap:break-word;
}
#u14420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(128, 0, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14420 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:500px;
  width:91px;
  height:22px;
}
#u14420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u14421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:2px;
}
#u14421 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:402px;
  width:487px;
  height:1px;
}
#u14421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14422 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:491px;
  width:105px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u14424 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:160px;
  width:710px;
  height:190px;
  font-size:14px;
}
#u14424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u14425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14425 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:420px;
  width:744px;
  height:81px;
}
#u14425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  word-wrap:break-word;
}
#u14426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u14427 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:363px;
  width:27px;
  height:23px;
  color:#39708F;
}
#u14427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#39708F;
}
#u14428 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:367px;
  width:251px;
  height:16px;
  text-decoration:underline;
  color:#39708F;
}
#u14428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
